/* BASIC STYLE */

body{
    margin: 0px;
    padding:0;
    background:url(/images/home-img.jpg);
    background-size: 100%;
    color: white;
    font-family: 'PT Sans', sans-serif;
    }

:root{
    --primary-color:rgba(95, 27, 179,0.8);
}

/* HOME PAGE */

/* HEADER */

.header{
    
}

.left{
    /* border: 2px solid red; */
    display: inline-block;
    margin: 10px 30px;
    position: absolute;
    left: 0;
    top:0;
}

.left img{
    filter: invert(100%);
    height: 64px;
    margin-right: 20px;
}

.left .logo-name{
    display: inline-block;
    padding-top: 0px;
    margin-top: 0px;
}
.logo-name h1{
    font-size: 34px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.mid{
    /* border: 2px solid green; */
    display: block;
    width: 45%;
    text-align: center;
    margin: 10px auto;

}

.nav {
    padding-inline-start: 0px;
}

.mid ul li{
    padding: 10px 25px;
    list-style: none;
    display: inline-block;
    font-size: 25px;

}

.mid ul li a{
    text-decoration: none;
    color: white;
}

.nav li a:hover{
    color: var(--primary-color);
}
.nav li a.active{
    color: var(--primary-color);
    
}
.right{
    /* border: 2px solid yellow; */
    display: inline-block;
    margin: 10px 30px;
    position: absolute;
    right: 0;
    top:0;
}

.right .btn button{
    margin: 20px;
    padding: 10px 25px;
    border:none;
    border-radius: 15px;
    background: transparent;
    color: white;
    border: 2px solid var(--primary-color);
    font-family:'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.right .btn button:hover{
    background-color:var(--primary-color);
    color: white;
    transform: scale(0.80);
}
